 @media(min-width:485px) and (max-width: 800px){
    .profile-img{
        display: none;
    }
    
 
 .navbar{
      position: sticky;
      top: 0px;
      z-index: 1;
    }
    .qa{
  width: 400px;
 }
 .section-title{
  margin-left: 10px !important;
 }
 }
 @media (max-width: 480px){
  .profile-img{
        display: none;
    }
    .navbar{
      position: sticky;
      top: 0px;
      z-index: 1;
    }
    .s3{
      padding-left: 5% !important;
      padding-top: 25% !important;
      
    }
     
.s5{
 font-size: 28px;
  font-weight: 600;
  font-family: sans-serif;
}
.s6{
  font-size: 16px;
  
  margin: 0px;
}

.a1{
  padding: 5% !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
}
 .a2{
  font-size: 30px !important;

 }
 .a3{
  line-height: 30px !important;
  font-size: 16px !important;
 }
 
 /* .section{
   background-image: url(./image/ChatGPT\ Image\ Dec\ 28\,\ 2025\,\ 04_23_18\ PM.png);
  background-size: 100% 100%;
 } */
 .section-title{
  margin-left: 30px !important;
  font-size: 30px !important;
  
  margin-bottom: 0px !important;
  padding-top: 20px;
 
 }
 .education-cont{
  margin-left: 0px !important;
  

   
 }
 .section{
 padding-left: 10px !important;
 }
 .education1{
  margin-bottom: 0% !important;
  margin-top: 0% 
  !important;
 }
  
 .qa{
  width: 300px;
 }
 .education-image{
  display: none;
 }
.education-content p{
  font-size: 15px !important;
  
}
.education-content h2{
  font-size: 18px !important;
}
.education-content span{
  font-size: 13px !important;
}
.w1{
  padding-left: 34px !important;
}
.w2{
  margin-left: 100px !important;
  font-size: 30px !important;
  padding-top: 40px !important;
}
.card i{
  font-size: 40px !important;
  
}
.card{
  width: 300px !important;
  
}
.card-text{
  font-size: 14px !important;
}

 }
  
@media (min-width: 992px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    
  }

  .main-content {
    margin-left: 250px;
  }
  .nav-link{
     font-weight: 500;
    font-size: 22px;
    color: rgb(222, 221, 221) !important;
  }
  .navbar-nav{
    padding-left: 15px;
      }
   
   
  
.s5{
font-size: 80px;
  font-weight: 700;
  font-family: arial;
}
.s6{
  font-weight: 600px;
}
.qa{
  width: 435px;
}
 

}

 
.profile-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 4px solid #fff;
   
}

 
.navbar-nav .nav-link {
  padding: 0.60rem 1.5rem;
}

.navbar-nav .nav-link:hover,.nav-link.active 
.navbar-nav {
  background-color: rgba(34, 32, 32, 0.15);
}
.nav-link:active{
  color: white !important;

}

 
.s3{
  color: #353a40;
  background-image: url(./image/Professional\ portrait\ in\ modern\ office.png);
  background-size: 100% 100%;
  padding: 20% 10% 25% 5%;

}
.s4{
  color: #2196f3;
}
.s5{
  margin: 0px;
}
.s6{
  color: #353a40;
}
/* about */
.a1{
  background: linear-gradient( to left,
    
    #dcecff,
    #ffffff);
  padding: 10%;
  padding-bottom: 16%;
}
.a2{
  
  font-size: 50px;
  font-family: arial;
  font-weight: 600;
    
}
.a3{
 font-size: 20px;
 font-family: arial;
 line-height: 40px;
 font-weight: 500;

}
.a4{
  color: #2196f3;
  border-color: #2196f3;
  cursor: crosshair;
}
.a5{text-decoration: none;}
 .a4:hover{
background-color: #2196f3;
color: white;
 }
 .section {
  
  background-color: #f8fafc;
  
  padding-left: 50px;
  padding-top: 25px;
 /*  background-image: url(./image/ChatGPT\ Image\ Dec\ 28\,\ 2025\,\ 04_23_18\ PM.png);
  background-size: 100% 100%; */

}

.section-title {
  font-size: 50px;
  font-weight: bold;
  padding-top: 5px;
  margin-left: 450px;
   
}

.education-cont {
  display: flex;
  align-items: center;
  gap: 200px;
  
}
.education-content{
  border-color: 4px solid #2563EB !important;
}
.education1{
  background-color: #FFFFFF;
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
   position: relative;
   padding-left: 50px;
   border-radius: 20px;
}
 .education1::after{
  content: "";
  position: absolute;
  left: 0;
  top: 15%;
  height: 70%;
  width: 5px;
  background: #2563eb;
  border-radius: 5px;
 }
.education1:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.12);
}

.education-content h2 {
 color: #0d6efd;
  margin-top: 40px;
}

.qa {
  margin: 5px 0;
  font-weight: 500;
  font-size: 20px;
   color:black;
   margin-bottom: 5px;
    
}
.q8{
  font-size: 15px;
   color: gray;
   font-weight: 500;
   margin-top: 0px;
}

.q7 {
  font-size: 17px;
  color: #9ca3af;
  font-weight: 500;
  margin-bottom: 0px;
}

.education-image img {
  width: 100%;
  max-width: 420px;
  border-radius: 12px;
  margin-top: 60px;
}
.w1{
   background-color: #F4F7FB;
   padding: 50px;
}
.w2{
  font-size: 50px;
  font-weight: 700;
  margin-left: 390px;
}
.card i{
font-size: 60px;
margin-left: 120px;
padding-top: 30px;
}
.card{
 border: 1px solid #E5E7EB;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}
.card-title{
  padding-left: 80px ;
  color: #1F2937;
}
.card-text{
  color: #4B5563;
}
.html {
  color: #E34F26;
}

.css {
  color: #1572B6;
}

.bootstrap {
  color: #7952B3;
}

.js {
  color: #F7DF1E;
}

.react {
  color: #61DAFB;
}
.card i:hover{
font-size: 70px;

}
.card:hover{
   transform: translateY(-6px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.08);
}
