 @media(min-width:485px) and (max-width: 800px){
    .profile-img{
        display: none;
    }
    
 
 .navbar{
      position: sticky;
      top: 0px;
      z-index: 1;
    }
 }
 @media (max-width: 480px){
  .profile-img{
        display: none;
    }
    .navbar{
      position: sticky;
      top: 0px;
      z-index: 1;
    }
    .s3{
      padding-left: 5% !important;
      padding-top: 25% !important;
      
    }
     
.s5{
 font-size: 28px;
  font-weight: 600;
  font-family: sans-serif;
}
.s6{
  font-size: 16px;
  
  margin: 0px;
}
.a1{
  padding: 5% !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
}
 .a2{
  font-size: 30px !important;

 }
 .a3{
  line-height: 30px !important;
  font-size: 16px !important;
 }
 
 /* .section{
   background-image: url(./image/ChatGPT\ Image\ Dec\ 28\,\ 2025\,\ 04_23_18\ PM.png);
  background-size: 100% 100%;
 } */
 .section-title{
  margin-left: 0px !important;
  font-size: 30px !important;
  display: block !important;
  margin-bottom: 10px !important;
 
 }
 .education-cont{
  margin-left: 0px !important;
  

   
 }
 .education-image{
  display: none;
 }
.education-content p{
  font-size: 15px !important;
  
}
.education-content h2{
  font-size: 18px !important;
}
.education-content span{
  font-size: 13px !important;
}

 }
  
@media (min-width: 992px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    
  }

  .main-content {
    margin-left: 250px;
  }
  .nav-link{
     font-weight: 500;
    font-size: 22px;
    color: rgb(222, 221, 221) !important;
  }
  .navbar-nav{
    padding-left: 15px;
      }
   
   
  
.s5{
font-size: 80px;
  font-weight: 700;
  font-family: arial;
}
.s6{
  font-weight: 600px;
}
 

}

 
.profile-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 4px solid #fff;
   
}

 
.navbar-nav .nav-link {
  padding: 0.60rem 1.5rem;
}

.navbar-nav .nav-link:hover,.nav-link.active 
.navbar-nav {
  background-color: rgba(34, 32, 32, 0.15);
}
.nav-link:active{
  color: white !important;

}

 
.s3{
  color: #353a40;
  background-image: url(./image/Professional\ portrait\ in\ modern\ office.png);
  background-size: 100% 100%;
  padding: 20% 10% 25% 5%;

}
.s4{
  color: #2196f3;
}
.s5{
  margin: 0px;
}
.s6{
  color: #353a40;
}
/* about */
.a1{
  background: linear-gradient( to left,
    
    #dcecff,
    #ffffff);
  padding: 10%;
  padding-bottom: 12%;
}
.a2{
  
  font-size: 50px;
  font-family: arial;
  font-weight: 600;
    
}
.a3{
 font-size: 20px;
 font-family: arial;
 line-height: 40px;
 font-weight: 500;

}
.a4{
  color: #2196f3;
  border-color: #2196f3;
  cursor: crosshair;
}
.a5{text-decoration: none;}
 .a4:hover{
background-color: #2196f3;
color: white;
 }
 .section {
  
  background-color: #f8fafc;
  
  padding-left: 0px;
 /*  background-image: url(./image/ChatGPT\ Image\ Dec\ 28\,\ 2025\,\ 04_23_18\ PM.png);
  background-size: 100% 100%; */

}

.section-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 40px;
  margin-left: 150px;
}

.education-cont {
  display: flex;
  align-items: center;
  gap: 50px;
 /*  margin-left: 40px; */
}
.education-content{
  border-color: 4px solid #2563EB !important;
}
.education1{
background-color: #FFFFFF;
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
     position: relative;
   padding-left: 50px;
   border-radius: 20px;
}
 .education1::after{
  content: "";
  position: absolute;
  left: 0;
  top: 15%;
  height: 70%;
  width: 5px;
  background: #2563eb;
  border-radius: 5px;
 }
.education1:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.12);
}

.education-content h2 {
 color: #0d6efd;
  margin-top: 40px;
}

.qa {
  margin: 5px 0;
  font-weight: 500;
  font-size: 20px;
   color:black;
   margin-bottom: 5px;
   width: 435px;
}
.q8{
  font-size: 15px;
   color: gray;
   font-weight: 500;
}

.q7 {
  font-size: 17px;
  color: #9ca3af;
  font-weight: 500;
}

.education-image img {
  width: 100%;
  max-width: 420px;
  border-radius: 12px;
}
.q{
  
  padding: 100px 0px;
  background-color: #0A2640;
}
.q1{
width: 300px;
background: white;
color: black;
 padding-left: 20px;
 /* padding-top: 100px;
 padding-bottom: 100px; */
 border-radius: 20px;

}
 .q2,.q3,.q4{
  font-weight: 700;
   
 }
 
.q5{
  width: 320px;
 padding-left: 15px;
}
.q1 h2{
  margin-top: 50px;
  color: #2196f3;
  font-size: 30px;
}
.q6{
  margin-top: 10px;
  font-weight: 600;
  margin-bottom: 0px;
}
.q7{
 font-size: 17px;
 font-family: 600;
 margin: 0px 0px;
}
.q8{
  font-size: 15px;
   color: gray;
   font-weight: 500;
}




 
