 @media(min-width:485px) and (max-width: 800px){
    .profile-img{
        display: none;
    }
    
 
 .navbar{
      position: sticky;
      top: 0px;
      z-index: 1;
    }
 }
 @media (max-width: 480px){
  .profile-img{
        display: none;
    }
    .navbar{
      position: sticky;
      top: 0px;
      z-index: 1;
    }
    .s3{
      padding-left: 5% !important;
      padding-top: 25% !important;
    }
     
.s5{
 font-size: 30px;
  font-weight: 600;
  font-family: sans-serif;
}
.s6{
  font-size: 16px;
  margin-bottom: 20px;
  margin: 0px;
}
 

 }
  
@media (min-width: 992px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    
  }

  .main-content {
    margin-left: 250px;
  }
  .nav-link{
     font-weight: 500;
    font-size: 22px;
    color: rgb(222, 221, 221) !important;
  }
  .navbar-nav{
    padding-left: 15px;
     
    
    
  }
   
   
  
.s5{
font-size: 80px;
  font-weight: 700;
  font-family: arial;
}
.s6{
  font-weight: 600px;
}
 

}

 
.profile-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 4px solid #fff;
   
}

 
.navbar-nav .nav-link {
  padding: 0.75rem 1.5rem;
}

.navbar-nav .nav-link:hover,.nav-link.active 
.navbar-nav {
  background-color: rgba(34, 32, 32, 0.15);
}
.nav-link:active{
  color: white !important;
}

 
.s3{
  color: #353a40;
  background-image: url(./image/Professional\ portrait\ in\ modern\ office.png);
  background-size: 100% 100%;
  padding: 20% 10% 25% 10%;

}
.s4{
  color: #2196f3;
}
.s5{
  margin: 0px;
}
.s6{
  color: #353a40;
}
 

 
