 @media(min-width:485px) and (max-width: 800px){
    .profile-img{
        display: none;
    }
    .s3{
  position: absolute;
  top: 250px;
  left:20px;
  font-size: 30px;
  font-weight: 600;
  font-family: arial;
}
 .navbar{
      position: sticky;
      top: 0px;
      z-index: 1;
    }
 }
 @media (max-width: 480px){
  .profile-img{
        display: none;
    }
    .navbar{
      position: sticky;
      top: 0px;
      z-index: 1;
    }
    .s1{
      height: 456px !important;
      width: 425px !important;
    }
     .s3{
  position: absolute;
  top: 220px;
  left:15px;
 
}
.s5{
 font-size: 30px;
  font-weight: 600;
  font-family: sans-serif;
}
.s6{
  font-size: 16px;
  margin-bottom: 20px;
  margin: 0px;
}
.s7{
  margin-top: 5px;
  width: 50%;
 font-size: 13px;
 line-height: 20px !important;
  color: #444;
  font-weight: 400;
  
}
.s8{
  font-size: 15px !important;
  width: 50%;
}
.s9{
  letter-spacing: 5px;
  font-size: 20px;
  margin-top: 10px;
}

 }
  
@media (min-width: 992px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding-top: 20px;
  }

  .main-content {
    margin-left: 250px;
  }
  .nav-link{
     font-weight: 500;
    font-size: 22px;
    color: rgb(222, 221, 221) !important;
  }
  .navbar-nav{
    padding-left: 15px;
    
  }
  .s1{
    height: 607px !important;
  }
  .s3{
  position: absolute;
  top: 200px;
  left: 280px;
  
}
.s5{
font-size: 80px;
  font-weight: 700;
  font-family: arial;
}
.s6{
  font-weight: 600px;
}
.s9{
  font-size: 35px;
  margin-top: 30px;
  letter-spacing: 10px;
  margin-left: 20px;
   
}

}

 
.profile-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 4px solid #fff;
  margin-top: 30px;
}

 
.navbar-nav .nav-link {
  padding: 0.75rem 1.5rem;
}

.navbar-nav .nav-link:hover,.nav-link.active 
.navbar-nav {
  background-color: rgba(34, 32, 32, 0.15);
}
.nav-link:active{
  color: white !important;
}

.s2 img{
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.s3{
  color: #353a40;
}
.s4{
  color: #2196f3;
}
.s5{
  margin: 0px;
}
.s6{
  color: #353a40;
}
.s7{
  width: 60%;
  line-height: 30px;
}

.s8{
 color: blue;
 margin-top: 20px;
 font-size: 22px;
 font-weight: 600;
}
.s9 i{
  color: #353a40;
}
